/* Text Mixin */
/* BG Mixin */
/* Text Mixin */
/* BG Mixin */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* FONT */
/* GRID */
/* COLORS */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
body {
  font-family: "Playfair Display", serif;
  color: #fff;
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*1200px*/
  /*900px*/
  /*1800*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0 0; }

p, a, h1 {
  margin: 0;
  padding: 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Text Mixin */
/* BG Mixin */
/* FONT */
/* GRID */
/* COLORS */
body {
  font-family: "Playfair Display", serif;
  color: #fff;
  margin: 0;
  padding: 0; }

/* Text Mixin */
/* BG Mixin */
/* FONT */
/* GRID */
/* COLORS */
.u-flex-wrapper {
  display: flex; }

.u-center-v-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  /*900px*/ }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  /*900px*/ }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.cta {
  border-radius: 50px;
  display: block;
  width: 18em;
  height: 4em;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 300;
  line-height: 0;
  text-align: center;
  word-spacing: 0;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  z-index: 2;
  transition: .4s all ease-in; }
  .cta:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: red;
    width: 0%;
    height: 100%;
    transition: .4s all ease-in;
    z-index: -1; }
  .cta:hover:after {
    width: 100%; }
  .cta--red-ghost {
    border: 1px solid red;
    color: white; }
  .cta--white-bg {
    background-color: #fff;
    color: red;
    transition: all .4s ease-in; }
    .cta--white-bg:hover {
      color: #fff; }
  .cta--red-bg {
    background-color: red;
    color: white;
    transition: all .4s ease-in; }
    .cta--red-bg:after {
      background-color: #fff; }
    .cta--red-bg:hover {
      color: red; }

/*@include modifier('grey'){
    border-color: $color--offset-dark-grey;
    color: $color--offset-light-grey;
    transition: all .4s ease-out;

    &:hover{
      border-color: $color--offset-white;
      color: $color--offset-white;
    }
  }

  @include modifier('black'){
    color: $color--offset-black;
    border-color: darken($color--offset-light-grey, 80%);
  }*/
.menu {
  height: 100vh;
  width: 100%;
  background-color: #1C1C1C;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden; }
  .menu__text-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em; }
  .menu .wrapper {
    justify-content: center;
    flex-direction: column; }
  .menu__description {
    width: 340px;
    position: relative;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 185%;
    text-align: center;
    word-spacing: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 3em; }
    .menu__description:first-child {
      margin-bottom: 6em;
      width: 290px; }
      .menu__description:first-child:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 20%;
        bottom: -.8em;
        left: 50%;
        transform: translate(-50%);
        background-color: red; }
  .menu__caption {
    width: 100%;
    font-size: 6em;
    font-weight: 300;
    line-height: 100%;
    text-align: center;
    word-spacing: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2em;
    margin-top: 1em; }
  .menu__list {
    display: flex;
    justify-content: space-between; }
  .menu__list-items {
    margin-left: 9em;
    margin-bottom: 9em; }
    .menu__list-items .menu__links {
      font-size: 4em;
      font-weight: 300;
      line-height: 185%;
      text-align: center;
      word-spacing: 0;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #BEBEC0;
      transition: color .3s ease-in; }
      .menu__list-items .menu__links:hover {
        color: #fff; }

/* Text Mixin */
/* BG Mixin */
/* Text Mixin */
/* BG Mixin */
/* FONT */
/* GRID */
/* COLORS */
/*@import "bootstrap-grid";*/
.row-custom {
  max-width: 114rem;
  margin: 0 auto;
  /*900px*/ }
  @media only screen and (max-width: 56.25em) {
    .row-custom {
      max-width: 80rem;
      padding: 0 3rem; } }

.navigation {
  padding-top: 4em;
  width: 100%;
  position: fixed;
  z-index: 3; }
  .navigation__list {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .navigation__list .list-item body {
      background: #F44336; }
    .navigation__list .list-item .hamburger-menu {
      position: relative;
      width: 50px;
      height: 26px;
      cursor: pointer; }
    .navigation__list .list-item .bar,
    .navigation__list .list-item .bar:after,
    .navigation__list .list-item .bar:before {
      width: 50px;
      height: 2px; }
    .navigation__list .list-item .bar {
      position: relative;
      transform: translateY(12px);
      background: white;
      transition: all 0ms 300ms; }
      .navigation__list .list-item .bar.animate {
        background: rgba(255, 255, 255, 0); }
    .navigation__list .list-item .bar:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 12px;
      background: white;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .navigation__list .list-item .bar:after {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      background: white;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .navigation__list .list-item .bar.animate:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .navigation__list .list-item .bar.animate:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

/* Text Mixin */
/* BG Mixin */
.loading-section {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #010101; }
  .loading-section #load-intro-cta {
    opacity: 0;
    visibility: hidden; }
  .loading-section .intro {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 100%; }
    .loading-section .intro__headings {
      margin-bottom: 10em; }
    .loading-section .intro__caption {
      font-size: 2em;
      font-weight: 100;
      line-height: 0;
      text-align: center;
      word-spacing: 1px;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: #fff; }

/* Text Mixin */
/* BG Mixin */
.hero {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
  background: url("../../assets/images/landing-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 100% 100%;
  filter: contrast(1) brightness(1) saturate(1);
  /*@include element('bg-img') {
  //  position: absolute;
  //  top: 0;
  //  right: 0%;
  //  width: 100%;
  //  height: 100%;
  //  @include bg-image('../images/land-bg.jpg');
  //  background-position: center center;
  //  filter: contrast(1.08) brightness(4.2) saturate(3.5);
  //}*/ }
  .hero__text-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em; }
  .hero .wrapper {
    justify-content: center;
    flex-direction: column; }
  .hero__description {
    width: 340px;
    position: relative;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 185%;
    text-align: center;
    word-spacing: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 3em; }
    .hero__description:first-child {
      margin-bottom: 6em;
      width: 290px; }
      .hero__description:first-child:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 20%;
        bottom: -.8em;
        left: 50%;
        transform: translate(-50%);
        background-color: red; }
  .hero__caption {
    width: 100%;
    font-size: 6em;
    font-weight: 300;
    line-height: 100%;
    text-align: center;
    word-spacing: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2em;
    margin-top: 1em; }
  .hero .video-clip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: -1; }
  .hero video {
    display: block;
    margin: 0 auto; }
  .hero .svg-clipped-text {
    -webkit-clip-path: url(#svgTextPath);
    clip-path: url(#svgTextPath); }
  .hero .scroll-down {
    margin: 0 auto;
    cursor: pointer; }
  .hero .radial-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
    background: radial-gradient(circle, red, black); }

.left-overlay {
  position: absolute;
  top: 0;
  left: 0%;
  width: 60%;
  height: 100%;
  background-color: #f6e245;
  z-index: 4;
  opacity: 0.6;
  filter: contrast(150%); }

.overflow-caption {
  overflow: hidden;
  position: relative; }

.introduction__company-details {
  height: max-content; }
  .introduction__company-details__details {
    overflow: hidden; }

.company-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-size: 35vh;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.02);
  letter-spacing: 60px; }

#circle {
  stroke-dashoffset: 100; }

.D {
  background: url("../../assets/images/logo-mask.gif") repeat;
  background-position: 10px;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 400px;
  font-family: Helvetica;
  font-weight: bold;
  margin: 0 auto;
  background-position-x: 52%;
  background-position-y: 48px; }

.moveBox {
  margin: 0 auto;
  width: 300px; }
