@import "../abstracts/mixins";

.hero {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
  @include bg-image('../../assets/images/landing-1.jpg');
  background-size: 100% 100%;
  filter: contrast(1) brightness(1) saturate(1);

  @include element('text-content'){
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:8em;
  }

  .wrapper{
    //border:1px solid red;
    justify-content: center;
    flex-direction: column;
  }

  @include element('description'){
    width: 340px;
    position: relative;
    @include text(1.2em,300,
            185%, center, 0,
            .2em, uppercase, $color--offset-white);
    margin: 0 auto;
    margin-bottom: 3em;
    &:first-child{
      margin-bottom: 6em;
      width: 290px;
      &:after{
        position:absolute;
        content: '';
        height: 2px;
        width: 20%;
        bottom: -.8em;
        left: 50%;
        transform: translate(-50%);
        background-color: red;
      }
    }
  }

  @include element('caption'){
    width: 100%;
    @include text(6em,300,
            100%, center, 0,
            .1em, uppercase, $color--offset-white);
    margin-bottom: 2em;
    margin-top: 1em;
  }

  .video-clip{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: -1;
  }

  video{
    display:block;
    margin:0 auto;
  }
  .svg-clipped-text {
    -webkit-clip-path: url(#svgTextPath);
    clip-path: url(#svgTextPath);
  }

  .scroll-down{
    margin: 0 auto;
    cursor: pointer;
  }




  .radial-gradient{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
    background: radial-gradient(circle, red, black);
  }












  /*@include element('bg-img') {
  //  position: absolute;
  //  top: 0;
  //  right: 0%;
  //  width: 100%;
  //  height: 100%;
  //  @include bg-image('../images/land-bg.jpg');
  //  background-position: center center;
  //  filter: contrast(1.08) brightness(4.2) saturate(3.5);
  //}*/



}

  .left-overlay{
    position: absolute;
    top: 0;
    left: 0%;
    width: 60%;
    height: 100%;
    background-color: #f6e245;
    z-index:4;
    opacity: 0.6;
    filter: contrast(150%);
  }

  .overflow-caption{
    //display: block;
    overflow: hidden;
    position: relative;
  }

  .introduction {

    @include element('company-details') {
      height: max-content;

      @include element('details') {
        overflow: hidden;
      }
    }
  }

  .company-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    font-size: 35vh;
    text-transform: uppercase;
    color: rgba(255,255,255,0.02);
    letter-spacing: 60px;
  }

  #circle{
    stroke-dashoffset: 100;
  }

.D{
  background:url("../../assets/images/logo-mask.gif") repeat;
  background-position:10px;
  -webkit-background-clip: text;
  color: transparent;
  font-size:400px;
  font-family:Helvetica;
  font-weight:bold;
  margin:0 auto;background-position-x: 52%;
  background-position-y: 48px;
}

.moveBox {
  margin:0 auto;
  width:300px;
}


